<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>

<header>
    <h1 style="text-align: center">Terms of Service</h1>
    <a href="{% url 'index' %}">Back to Home</a>
</header>

<main>
    <article>
        <h2>API haqida</h2>
        <p>Bu API faqat men(Muxtorov Shaxzodbek (AD0600562)) uchun ishlab chiqilgan bo'lib, mening ruxsatimsiz
            foydalanish qat'iyan man etiladi.</p>
    </article>
</main>

<footer>
    <p>&copy; 2024 Shaxzodbek. All rights reserved.</p>
</footer>

</body>
</html>
