<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms of Service</title>
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
</head>
<body>

<header>
    <h1 style="text-align: center">Terms of Service</h1>
    <a href="{% url 'index' %}">Back to Home</a>
</header>

<main>
    <article>
        <h2>API haqida</h2>
        <p>Bu API faqat men(Muxtorov Shaxzodbek (AD0600562)) uchun ishlab chiqilgan bo'lib, mening ruxsatimsiz
            foydalanish qat'iyan man etiladi.</p>

        <h2>API lar</h2>
        <p>
            path('shaxzodbek/', ShaxzodbekApiView.as_view(), name='shaxzodbek'), <br>
            path('person/', PersonApiView.as_view(), name='person'),<br>
            path('wish/', WishApiView.as_view(), name='wish'),<br>
            path("youtube/", YouTubeApiView.as_view(), name="youtube"),<br>
            path("game/", GameApiView.as_view(), name="game"),<br>
            path("terms/", terms, name="terms") <br> With int:pk
        </p>
    </article>
</main>

<footer>
    <p>&copy; 2024 Shaxzodbek. All rights reserved.</p>
</footer>

</body>
</html>
