<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/'|add:html_name|add:'.css'%}">
</head>
<body>
    <nav>
        <a href="{% url 'mainpage' %}">Asosiy sahifa</a> <br>
        <a href="{% url 'all-info' %}">All</a><br>
        <a href="{% url 'aboutme' %}">About me</a><br>
        <a href="{% url 'love' %}">Love</a><br>
        <a href="{% url 'friends' %}">Friends</a><br>
        <a href="{% url 'family' %}">Family</a><br>
        <a href="{% url 'projects' %}">Projects</a><br>
        <a href="{% url 'wish' %}">Wish</a><br>
    </nav>
    <main>
        <p>Main </p>
        {% include 'catagories/'|add:html_name %}
    </main>
    <footer>
        <div>
            <p>Shaxzodbek </p>
        </div>
    </footer>
</body>
</html>